[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/OlegusTesterovichus (OlegusTesterovichus)
[access "refs/for/refs/*"]
	read = group user/OlegusTesterovichus (OlegusTesterovichus)
	push = group user/OlegusTesterovichus (OlegusTesterovichus)
	label-Code-Review = -2..+2 group user/OlegusTesterovichus (OlegusTesterovichus)
	label-Verified = -1..+1 group user/OlegusTesterovichus (OlegusTesterovichus)
	rebase = group user/OlegusTesterovichus (OlegusTesterovichus)
	removeReviewer = group user/OlegusTesterovichus (OlegusTesterovichus)
	submit = group user/OlegusTesterovichus (OlegusTesterovichus)
[access "refs/heads/*"]
	read = group user/OlegusTesterovichus (OlegusTesterovichus)
	create = group user/OlegusTesterovichus (OlegusTesterovichus)
	push = +force group user/OlegusTesterovichus (OlegusTesterovichus)
	pushMerge = group user/OlegusTesterovichus (OlegusTesterovichus)
[access "refs/tags/*"]
	push = +force group user/OlegusTesterovichus (OlegusTesterovichus)
	pushTag = group user/OlegusTesterovichus (OlegusTesterovichus)
	pushSignedTag = group user/OlegusTesterovichus (OlegusTesterovichus)
